<% if $game.single_player? %>
<p>Make your choice:</p>
<% else %>
  <% name = ($game.player1_chosen? ? $game.player2_name : $game.player1_name) %>
  <p>Make your choice <%= name %>:</p>
<% end %>

<form action='/set-choice' method='post'>
  <button type='submit' name='choice' value='rock'>Rock</button>
  <button type='submit' name='choice' value='paper'>Paper</button>
  <button type='submit' name='choice' value='scissors'>Scissors</button>
  <button type='submit' name='choice' value='lizard'>Lizard</button>
  <button type='submit' name='choice' value='spock'>Spock</button>
</form>
