<div>
  <form action='/set-mode' method='post'>
    <button type='submit' name='mode' value='single_player'>Single player</button>
    <button type='submit' name='mode' value='two_player'>Two player</button>
  </form>
</div>
